<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl bg-white overflow-hidden">

            <app-navigation-buttons></app-navigation-buttons>
            <div class="flex flex-wrap">
                <div class="w-full">
                    <ul class="flex mb-0 list-none flex-wrap flex-row border-b px-5">
                        <li class="text-center px-4">
                            <a class="bg-white block font-semibold text-md pt-4 pb-2 px-2" (click)="toggleTabs(1)"
                                [ngClass]="{'text-gray-600 bg-white': openTab !== 1, 'TabHighlight': openTab === 1}">
                                Transaction List
                            </a>
                        </li>
                        <li class="text-center px-4">
                            <a class="bg-white block font-semibold text-md pt-4 pb-2 px-2" (click)="toggleTabs(2)"
                                [ngClass]="{'text-gray-600 bg-white': openTab !== 2, 'TabHighlight': openTab === 2}">
                                Invoices
                            </a>
                        </li>
                        <li class="text-center px-4">
                            <a class="bg-white block font-semibold text-md pt-4 pb-2 px-2" (click)="toggleTabs(3)"
                                [ngClass]="{'text-gray-600 bg-white': openTab !== 3, 'TabHighlight': openTab === 3}">
                                Payments
                            </a>
                        </li>
                        <li class="text-center px-4">
                            <a class="bg-white block font-semibold text-md pt-4 pb-2 px-2" (click)="toggleTabs(4)"
                                [ngClass]="{'text-gray-600 bg-white': openTab !== 4, 'TabHighlight': openTab === 4}">
                                Credit Notes
                            </a>
                        </li>
                        <li class="text-center px-4">
                            <a class="bg-white block font-semibold text-md pt-4 pb-2 px-2" (click)="toggleTabs(5)"
                                [ngClass]="{'text-gray-600 bg-white': openTab !== 5, 'TabHighlight': openTab === 5}">
                                Bond Payments
                            </a>
                        </li>
                        <li class="text-center px-4">
                            <a class="bg-white block font-semibold text-md pt-4 pb-2 px-2" (click)="toggleTabs(6)"
                                [ngClass]="{'text-gray-600 bg-white': openTab !== 6, 'TabHighlight': openTab === 6}">
                                Age Debtors
                            </a>
                        </li>
                    </ul>
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full">
                        <div class="py-3 flex-auto">
                            <div class="tab-content tab-space">
                                <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                                    <p class="px-5">
                                        Collaboratively administrate empowered markets via
                                        plug-and-play networks. Dynamically procrastinate B2C users
                                        after installed base benefits.
                                        <br />
                                        <br />
                                        Dramatically visualize customer directed convergence
                                        without revolutionary ROI.
                                    </p>
                                </div>
                                <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                                    <p class="px-5">
                                        Completely synergize resource taxing relationships via
                                        premier niche markets. Professionally cultivate one-to-one
                                        customer service with robust ideas.
                                        <br />
                                        <br />
                                        Dynamically innovate resource-leveling customer service for
                                        state of the art customer service.
                                    </p>
                                </div>
                                
                                <div [ngClass]="{'hidden': openTab !== 6, 'block': openTab === 6}">
                                 <app-age-debtors></app-age-debtors>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>