/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */


.bg-cardTop {
    background-color: #E3F2F1;
}

.Custom-bg {
    background-color: #009688;
}

.breadcrumb {
    h4 {
        color: #111827;
    }
}

.TabHighlight {
    color: #009688;
    border-bottom: 2px solid #009688;
}

.TextColor {
    color: #5DAED7;
}

.page-active {
    border-color: #009688;
    color: #009688;
    // background-color: #009688;
}

.custombtn {
    width: 90px;
    height: 44px;
    font-size: 14px;
}

.CustombgThead {
    background: #EAECF7;
}

.top-b {
    top: 230px;
}

.top-export {
    top: 277px;
}

.ToggleBg {
    background: #7A9DC2;
}

.ToggleBgCancle {
    background: #EF4444;
}

.ExportBg {
    background: #009688;
}

.beforeborder:before {
    content: '';
    position: absolute;
    left: 0;
    height: 70%;
    width: 1px;
    background: #ACCCD0;
}
.ngx-pagination {
    .current{
        background: transparent !important;
        color: #009688 !important;
    }
    li{
        a{
            color: #A8ABAE !important;
        }
        
    }
}
